@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "iranYekan";
  src: url("assets/iranYekan.ttf");
}
@font-face {
  font-family: "iranSans";
  src: url("assets/iranSans.ttf");
}
.side-gradient {
  background: linear-gradient(144deg, #00b5a0 20%, #00c69b 100%),
    url("./assets/Alefba.svg");
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #F0F0F0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #DADADA;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}